<div ng-controller="ThController">
<div ng-init="loadFileTypes()">

	<div class="red" ng-show="errorMessage !='' ">{{errorMessage}}</div>

	<div>
		<form ng-submit="getFileTransferForCustomer(senderId, direction, status, fileType, signerId, transmissionFromDate, transmissionToDate)">
			<Table class="searchresult">
				<caption class="bar">
					<h2>Transmission List</h2>
				</caption>
				<tr>
					<th>Sender ID</th>
					<th>Direction</th>
					<th>Status</th>
					<th>File type</th>
					<th>Signer ID</th>
					<th>Start date</th>
					<th>End date</th>
					<th>&nbsp;</th>
				</tr>
				<tr>
					<td><input id="tl_senderid"  class="textBox" placeholder="Sender ID" type="text" ng-model="senderId" required /></td>
					<td><select id="tl_direction" ng-model="direction">
							<option value="">All</option>
							<option value="IN">In</option>
							<option value="OUT">Out</option>
					</select></td>
					<td><select id="tl_status" ng-model="status">
							<option value="">All</option>
							<option value="A">Accepted</option>
							<option value="R">Rejected</option>
					</select></td>
					<td><select id="tl_filetype" ng-model="fileType" ng-change="onChanged(fileType)">
							<option value="">All</option>
							<option ng-repeat="ft in fileTypes" value="{{ft.fileType}}">{{ft.description}} ({{ft.fileType}})</option>
					</select></td>
					<td><input id="tl_signerid" class="textBox" placeholder="Signer ID" type="text" ng-model="signerId" ng-disabled="disableSignerId" /></td>
					<td><input id="tl_fromdate" class="textBox" placeholder="From-Date" type="text" ng-model="transmissionFromDate" datepicker /></td>
					<td><input id="tl_todate" class="textBox" placeholder="To-Date" type="text" ng-model="transmissionToDate" datepicker /></td>
					<td><button id="tl_submit" ng-disabled="isDisabled">Search</button></td>
				</tr>

			</Table>
		</form>
	</div>

	<div>
		<label>Filter: <input id="tl_searchfilter" ng-model="search.$" type="text" class="textBox"></label>
		<table id="tl_searchresult" class="searchresult">
			<tr>
				<th>Transmission ended</th>
				<th>File type</th>
				<th>File name</th>
				<th>Signer ID</th>
				<th>Direction</th>
				<th>Transmission status</th>
				<th>Information</th>
				<th>&nbsp;</th>

			</tr>
			<tr ng-repeat="fileDetail in th.TransmissionShortDetails | filter:search:strict">
				<td>
					<!-- dd.MM.yyyy hh:mm --> {{fileDetail.transmissionEnded.substring(6,8)+"."+ fileDetail.transmissionEnded.substring(4,6) +"."+fileDetail.transmissionEnded.substring(0,4) +
					fileDetail.transmissionEnded.substring(8);}}
				</td>
				<td>{{fileDetail.fileType}}</td>
				<td>{{fileDetail.fileName}}</td>
				<td>{{fileDetail.signerID}}</td>
				<td>
					<div ng-if="fileDetail.direction == 'IN'">In</div>
					<div ng-if="fileDetail.direction == 'OUT'">Out</div>
				<td>
					<div ng-if="fileDetail.transmissionStatus == 0">Accepted</div>
					<div ng-if="fileDetail.transmissionStatus == -1">In Progress</div>
					<div ng-if="fileDetail.transmissionStatus != 0 && fileDetail.transmissionStatus != -1">Rejected</div>
				</td>
				<td>{{fileDetail.information}}({{fileDetail.transmissionStatus}})</td>
				<td><a ng-click="showThDetails(fileDetail.fileID)" href=""><b>Details</b></a></td>
			</tr>
		</table>

	</div>

</div>
</div>






