<div ng-controller="AccountsController" >
<div ng-init="loadAvailableBanks()">
	<div class="red" ng-show="errorMessage !='' ">{{errorMessage}}</div>
	
	<div>

		<form ng-submit="getAccounts(bankName, dateFrom)">

			<table class="searchresult">
				<caption class="bar">
					<h2>Accounts</h2>
				</caption>
				<tr>
					<th>AccountID</th>
					<th>BankName</th>
					<th>Start date</th>
					<th>&nbsp;</th>
				</tr>
				<tr>
					<td><input id="fl_accountid" class="textBox" placeholder="Account ID" type="text" ng-model="accountId" /></td>
					<td><select id="fl_bankName" ng-model="bankName" required>
						<option value="">-Select-</option>
						<option ng-repeat="bankName in availableBanks" value="{{bankName}}">{{bankName}}</option>
					</select></td>
					<td><input id="fl_fromdate" class="textBox" placeholder="From-Date" type="text" ng-model="dateFrom" datepicker /></td>
					<td><button id="fl_submit" ng-disabled="isDisabled">Search</button></td>
				</tr>

			</table>
		</form>
	</div>


	<div>
		<label>Filter: <input id="fl_searchfilter" ng-model="search.$" type="text" class="textBox"></label>
		<table id="fl_searchresult" class="searchresult">
			<tr>
				<th>ACCOUNT ID</th>
				<th>IBAN</th>
				<th>CURRENCY</th>
				<th>LAST TXN ON</th>
				<th>STATUS</th>

			</tr>
			<tr ng-repeat="acct in accountsList.response.accounts | filter:search:strict">
				<td><a ng-click="showAccountDetails(acct.id)" href=""><b>{{acct.id}}</b></a></td>
				<td>{{acct.account.identification.iban}}</td>
				<td>{{acct.account.currency}}</td>
				<td>{{acct.account.latestTransactionBookingDate}}</td>
				<td>{{acct.account.status}}</td>
			</tr>
		</table>

	</div>

	</div>
</div>






